browse.vc.db*
browse.vc.db-shm
browse.vc.db-wal

# ros2 build files
**/build/
**/install/
**/log/

# Design folder
Design/*

# Ordering folder
Ordering/*

# Writing folder
Writing/*

# Old folder
Old/*

# VS code folder
.vscode/
**/.vscode

# All pdfs, word and ppt files
*.pdf
*.docx
*.pptx

# ===========================
# MCU / C++ Compilation Junk
# ===========================
# If you don't ignore these, your repo will fill with binary blobs
*.o
*.elf
*.bin
*.hex
*.map
.pio/